ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:focus {
    text-decoration: none;
    color: #000;
    outline: none;
    blr: expression(this.onFocus=this.blur());
}

a:hover {
    color: #00a4ac;
    text-decoration: none;
}

.place {
    height: 30px;
    background: #f3f3f3;
    font-size: 12px;
    line-height: 30px
}

.place span {
    line-height: 30px;
    float: left;
    margin-left: 5px;
}

.placeul li {
    float: left;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 12px;
}

.placeul li:last-child {
    background: none;
}


.qmPlDivRed {
    border: 4px solid #FF0000;
    border-radius: 15px;
    background-color: #ffffffe6;
    width: 150px;
    cursor: pointer;
    padding: 0 5px 5px 5px;
}

.qmPlDivGreen {
    border: 4px solid #22C37F;
    border-radius: 15px;
    background-color: rgba(193, 255, 193, 0.9);
  	width: 150px;
    cursor: pointer;
    padding: 0 5px 5px 5px;
}

.qmPlHr {
    border: none;
    border-top: 1px solid #FF0000;

}

.qmPlDivRed .titleDiv {
    height: 30px;
    width: 100%;
    margin-top: 3px;
    border-bottom: 1px solid #FF0000;
}

.qmPlDivGreen .titleDiv {
    height: 30px;
    width: 100%;
    margin-top: 3px;
    border-bottom: 1px solid #22C37F;
}

.qmPlDivRed .titleDiv .iconDiv {
    background-image: url(../images/jingbao.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    position: relative;
    top: 0px;
    left: 0px;
    float: left;

}

.qmPlDivGreen .titleDiv .iconDiv {
    background-image: url(../images/qmPlGou.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    position: relative;
    top: 0px;
    left: 0px;
    float: left;

}

.titleDiv .iconDivText {
	width:100px;
    height: 25px;
    float: left;
    margin-left:5px;
    text-align: center;
    letter-spacing:-1.5px;
    font-size: 18px;
    line-height: 1.7;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
    vertical-align: middle;
    overflow: hidden;
}

.textDiv {
    width: 100%;
    letter-spacing:-0.5px;
    font-size: 12px;
    line-height: 1.2;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
}


/*工序*/

.process {
    font-size: 18px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    color: #575765;
    background: #f7f7f7;
}

.process .red {
    line-height: 20px;
    cursor: pointer;
    width: 100%;
    padding: 12px;
}

.process .yellow {
    line-height: 20px;
    cursor: pointer;
    width: 100%;
    padding: 12px
}

.process .green {
    line-height: 20px;
    cursor: pointer;
    width: 100%;
    padding: 12px
}

.processSelect {
    background-color: #dedede;
}

.qmProcessBtnRed:hover {
    border: 2px solid #dadada;
}

.process:hover {
    background: #dadada;
}

.redCircle {
    width: 20px;
    height: 20px;
    background-color: #ff5b5b;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.yellowCircle {
    width: 20px;
    height: 20px;
    background-color: #f4b400;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.greenCircle {
    width: 20px;
    height: 20px;
    background-color: #22c37f;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}