td {
    padding: 3px;
}

.tdblock {
    background: rgba(61, 171, 132, 0.059);
    border-radius: 5px;
    padding: 3px;
    border: 3px solid rgba(105, 155, 135, 0.239);
    cursor: hand;
    width: 100%;
    height: 100%;
    line-height: 1;
}

.tdblock .innerNoData {
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(108, 112, 112, 0.5);
    color: #6C7070;
}
.tdblock .innerSuccessData {
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(19, 156, 76, 0.5);
    color: #067010;
}
.tdblock .innerFailData {
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(233, 16, 39, 0.5);
    color: #700508;
}
.divTitle {
    font-size: 1em;
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}
.blank {
    flex: 1 0;
    background-image: url(../images/blankborder.png);
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    color: #b9d0c7;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.blank2 {
    flex: 1 0;
    background-image: url(../images/blankborder2.jpg);
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    color: #b9d0c7;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.text {
    font-size: 4vw;
    font-family: Microsoft YaHei, 微软雅黑;
    font-weight: bold;
}

.greenTitle{
    background-color: rgba(19, 156, 76, 0.5);
    color: #067010;
}
.redTitle{
    background-color: rgba(233, 16, 39, 0.5);
    color: #700508;
}